* {
  margin: 0;
  padding: 0;
}
.MainContainer {
  background-color: grey;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: lightgray;
}
